<a href="https://colab.research.google.com/github/ahmedoumar/TimeSerieswithTf/blob/main/TimeSeriesWithTf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Uploading training data:
from google.colab import files
uploaded = files.upload()

Saving Opt_CL.csv to Opt_CL.csv
Saving Opt_6B.csv to Opt_6B.csv
Saving Opt_NQ.csv to Opt_NQ.csv
Saving Opt_FDAX.csv to Opt_FDAX.csv
Saving Opt_RTY.csv to Opt_RTY.csv
Saving Opt_YM.csv to Opt_YM.csv
Saving Opt_ZN.csv to Opt_ZN.csv

In [ ]:
# Import our main packages:
import os
import datetime
from sklearn.preprocessing import StandardScaler
import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Conv1D, Input, BatchNormalization, ReLU, GlobalAveragePooling1D, Dense
from tensorflow.keras.models import Model

mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [ ]:
!ls

Opt_6B.csv  Opt_FDAX.csv  Opt_RTY.csv  Opt_ZN.csv
Opt_CL.csv  Opt_NQ.csv	  Opt_YM.csv   sample_data

In [ ]:
df = pd.read_csv('Opt_6B.csv')
df.head()

   Profit Entry Name      H1      L1  ...       I28  I29        I30     I31
0       0    R1 Sell  1.5924  1.5922  ...  0.602561    0   9.146679  Friday
1       0     R1 Buy  1.5939  1.5923  ...  0.017070    0  31.143836  Friday
2       0    R1 Sell  1.5887  1.5879  ...  0.309199    1  14.563587  Monday
3       0    R1 Sell  1.5901  1.5887  ...  0.129379    1  19.139527  Monday
4       0     R1 Buy  1.5899  1.5888  ...  0.025864    0  16.329333  Monday

[5 rows x 51 columns]

In [ ]:
df.describe().transpose()

         count          mean  ...            75%            max
Profit  5278.0      0.322471  ...       1.000000       1.000000
H1      5278.0      1.498811  ...       1.634400       1.783400
L1      5278.0      1.497950  ...       1.633700       1.782800
O1      5278.0      1.498383  ...       1.633975       1.783300
C1      5278.0      1.498373  ...       1.633900       1.782900
V1      5278.0    852.253695  ...    1208.750000   24393.000000
HiLo1   5278.0      1.498338  ...       1.633956       1.782750
H2      5278.0      1.498810  ...       1.634375       1.783800
L2      5278.0      1.497954  ...       1.633475       1.783200
O2      5278.0      1.498385  ...       1.633800       1.783300
C2      5278.0      1.498384  ...       1.634000       1.783300
V2      5278.0    851.461538  ...    1223.750000   14612.000000
HiLo2   5278.0      1.498333  ...       1.633887       1.782775
H3      5278.0      1.498823  ...       1.634575       1.783400
L3      5278.0      1.497933  ...       1.633400       1.782700
O3      5278.0      1.498367  ...       1.633850       1.783100
C3      5278.0      1.498386  ...       1.633800       1.783300
V3      5278.0    873.093407  ...    1205.750000   23334.000000
HiLo3   5278.0      1.498336  ...       1.633975       1.782875
I1      5278.0      0.516484  ...       1.000000       1.000000
I2      5278.0     -0.000044  ...       0.000700       0.026700
I3      5278.0     -0.189894  ...      11.088281      68.327475
I4      5278.0      1.402129  ...      58.304656     340.410959
I5      5278.0      0.000895  ...       0.001086       0.008657
I6      5278.0      0.623342  ...       1.000000       1.000000
I7      5278.0     23.418461  ...      28.762763      73.986222
I8      5278.0     -0.000001  ...       0.000061       0.002724
I9      5278.0      0.549261  ...       1.000000       1.000000
I10     5278.0     49.874966  ...      53.967152      85.636836
I11     5278.0      0.468359  ...       1.000000       1.000000
I12     5278.0      0.000281  ...       0.120000       0.585000
I13     5278.0 -83757.527851  ...  140343.750000  499456.000000
I14     5278.0     23.418461  ...      28.762763      73.986222
I15     5278.0      0.000798  ...       0.285714       1.000000
I16     5278.0      0.512884  ...       1.000000       1.000000
I17     5278.0     49.488889  ...      57.215521      85.199397
I18     5278.0     48.535430  ...      80.000000     100.000000
I19     5278.0      0.478022  ...       1.000000       1.000000
I20     5278.0     52.974121  ...      58.936601      82.873236
I21     5278.0  92697.139068  ...  134500.000000  234500.000000
I22     5278.0      0.269231  ...       1.000000       1.000000
I23     5278.0     49.839340  ...      54.080422      75.860277
I24     5278.0    -50.172768  ...     -33.333333       0.000000
I25     5278.0      0.984678  ...       1.058824       1.545455
I26     5278.0      0.687003  ...       1.000000       1.000000
I27     5278.0      0.031413  ...       9.989422      72.637053
I28     5278.0      0.506922  ...       0.772398       1.000000
I29     5278.0      0.203486  ...       0.000000       1.000000
I30     5278.0     27.440486  ...      33.195081      69.429743

[49 rows x 8 columns]

In [ ]:
# Drop unused columns 
df.drop(['Entry Name', 'I31'], inplace=True, axis=1)

# Make data transformation:
columns = list(df.keys())
df[columns[1:]] = StandardScaler().fit_transform(df[columns[1:]])

# Splitting the data into train/val: 80%/20%
columns_indices = {name: i for i, name in enumerate(df.columns)}

n = len(df)
train_df = df[0: int(n*.8)]
val_df = df[int(n*.8):]

num_features = df.shape[1]

In [ ]:
print(num_features)

49

In [ ]:
# Build Our Model:

def make_model(input_shape):
    input_layer = Input(input_shape)

    conv1 = Conv1D(filters=64, kernel_size=3, padding='same')(input_layer)
    conv1 = BatchNormalization()(conv1)
    conv1 = ReLU()(conv1)

    conv2 = Conv1D(filters=64, kernel_size=3, padding="same")(conv1)
    conv2 = BatchNormalization()(conv2)
    conv2 = ReLU()(conv2)

    conv3 = Conv1D(filters=64, kernel_size=3, padding="same")(keras.layers.concatenate([conv2, conv1]))
    conv3 = BatchNormalization()(conv3)
    conv3 = ReLU()(keras.layers.concatenate([conv3,conv2]))

    gap = GlobalAveragePooling1D()(conv3)

    output_layer = Dense(1, activation="sigmoid")(gap)

    return Model(inputs=input_layer, outputs=output_layer)

In [ ]:
y_train = train_df['Profit']
train_df.drop('Profit', inplace=True, axis=1)

y_val = val_df['Profit']
val_df.drop('Profit', inplace=True, axis=1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
train_df.shape

(4222, 48)

In [ ]:
x_train = np.asarray(train_df).astype(np.float32)
x_train = x_train.reshape((x_train.shape[0], x_train.shape[1], 1))

In [ ]:
x_val = np.asarray(val_df).astype(np.float)
x_val = x_val.reshape((x_val.shape[0], x_val.shape[1], 1))

print(x_val.shape)

(1056, 48, 1)

In [ ]:
y_train = np.asarray(y_train).astype(np.float32)
y_train = y_train.reshape((y_train.shape[0], 1))

print(y_train.shape)

y_val = np.asarray(y_val).astype(np.float)
y_val = y_val.reshape((y_val.shape[0], 1))

print(y_val.shape)

(4222, 1)
(1056, 1)

In [ ]:
model1 = make_model(input_shape=x_train.shape[1:])
#tf.keras.utils.plot_model(model, show_shapes=True)

In [ ]:
epochs = 500
batch_size = 128

callbacks = [
             keras.callbacks.ModelCheckpoint(
                 'best_model.h5', save_best_only=True,
                monitor='val_recall'
             ),
             keras.callbacks.ReduceLROnPlateau(
                 monitor='val_recall', factor=.2,
                 patience=100, min_lr = .0001
             ),
             keras.callbacks.EarlyStopping(
                 monitor='val_recall', patience=100
             )
]

model1.compile(
    optimizer=keras.optimizers.Adam(0.0001),
    loss='binary_crossentropy',
    metrics=['binary_accuracy', keras.metrics.Recall()],
    
)

In [ ]:
history = model1.fit(
    x_train,
    y_train,
    batch_size=batch_size,
    epochs=epochs,
    callbacks=callbacks,
    verbose=1,
    validation_data = (x_val, y_val),
    class_weight = {0:1, 1:2.1}
)